name: Lint and Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: packages
      run: sudo add-apt-repository universe && sudo apt-get update && sudo apt-get install -y llvm-toolchain-14

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '25'

    - name: Install dependencies
      run: npm ci

    - name: Lint code
      run: npm run lint

    - name: Run tests
      run: npm test